<!DOCTYPE Html>
<html ng-app="CloudDDS">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Cloud Computing - DDS Telkom</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../static/js/jquery-ui.min.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/semantic.min.js"></script>
    <script src="../static/js/sidebar.js"></script>
    <script src="../static/js/angular/angular.min.js"></script>
    <script src="../static/js/angular/app.js"></script>
    <script src="../static/js/angular/AppControllers.js"></script>
    <script src="../static/js/angular/CreateControllers.js"></script>
    <script src="../static/js/moment.js"></script>
    <script src="../static/js/Chart.min.js"></script>

</head>

<body>
    <!-- Page Contents -->
    <div class="pusher">
        <!-- Menu -->
        <div class="ui teal inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <div class="left item">
                        <a class="item" href="/admin">
                            <img class="ui small image" src="../static/img/logo-cloud-dds.png">
                        </a>
                    </div>
                    <div class="right item">
                        <a class="item" href="/admin/manage-resource">RESOURCE</a>
                        <a class="item" href="/admin/manage-vm">MANAGE VM</a>
                        <a class="item" href="/admin/manage-request">MANAGE REQUEST</a>
                        {% if admin.role == 2 %}
                        <a class="item" href="/admin/manage-admin">MANAGE ADMIN</a>
                        {% elif admin.role == 1 %}
                        {% endif %}
                        <a class="item" href="/admin/manage-user">MANAGE USER</a>
                        <div class="ui top right pointing dropdown" style="margin-left: 1.5em;">
                            <img class="ui avatar image" src="../static/img/avatar/user.png">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item">
                                    <img class="ui avatar image" src="../static/img/avatar/user.png">
                                    <span>{{admin.name}}</span>
                                </a>
                                <div class="divider"></div>
                                <a class="item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dynamic Content -->
        {% block content %} {% endblock %}


    </div>

    <script>
        $('.ui.dropdown')
            .dropdown();
    </script>

</body>

</html>
