{% extends "admin/admin-page.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="column">
            <h3 class="ui header">Manage Resource</h3>
        </div>
    </div>

    <div class="ui stackable grid container">
        </br>
        <h2>Overview</h2>
        <div class="ui stackable grid container">
            <div class="four wide column">
                <table class="ui teal table">
                    <tbody>
                        <tr>
                            <td>Users</td>
                            <td>{{rowsUser}}</td>
                        </tr>
                        <tr>
                            <td>Instances</td>
                            <td>{{rowsInstance}}</td>
                        </tr>
                        <tr>
                            <td>Request Instances</td>
                            <td>{{rowsRequest}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="twelve wide column">
                <table class="ui teal fixed table">
                    <thead class="ui center aligned">
                        <tr>
                            <th>CPU</th>
                            <th>RAM</th>
                            <th>Storage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <canvas id="cpu_chart"></canvas>
                            </td>
                            <td>
                                <canvas id="ram_chart"></canvas>
                            </td>
                            <td>
                                <canvas id="storage_chart"></canvas>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </br>
        <div class="row">
            <h2>Manage Flavor</h2>
            <table class="ui teal fixed table center aligned">
                <thead>
                    <th>Name</th>
                    <th>vCPU</th>
                    <th>RAM</th>
                    <th>Storage</th>
                    <th>Status</th>
                    <th>Alias</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% if flavorlist  %}
                    {% for flavor in flavorlist['flavors'] %}

                        <tr>
                            <td>{{ flavor['name'] }}</td>
                            <td>{{ flavor['vcpus'] }} vCPU</td>
                            {% if flavor['ram']|int >= 1024 %}
                            <td>{{ ((flavor['ram']|int/1024)|string).rstrip(".0") }} GB</td>
                            {% else %}
                            <td>{{ flavor['ram']|int }}MB RAM</td>
                            {% endif %}
                            <td>{{ flavor['disk'] }}GB Disk</td>

                            {% set exists = [] %}
                            {% if flavordefault %}
                                    {% for flav in flavordefault %}
                                        {% if flav.flavor_id == flavor['id'] %}
                                            {% if exists.append(flav.flavor_id) %}{% endif %}
                                            {% if exists.append(flav.alias) %}{% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if exists %}
                                        <td>Activated</td>
                                        <td>{{exists[1]}}</td>
                                    {% else %}
                                        <td>-</td>
                                        <td>-</td>
                                    {% endif %}
                            {% else %}
                                <td>-</td>
                                <td>-</td>
                            {% endif %}
                            <td>
                                {%if exists %}
                                    <form id="form-deactivate-{{exists[0]}}" method='POST'>
                                    <input type="hidden" id="action-deactivate" name="action" value="">
                                    <input type="hidden" id="flav-id" name="flav-id" value="">
                                    <button class="ui blue button delete" onclick="deactivate('{{exists[0]}}')">Deactivate</button>
                                    </form>
                                {% else %}
                                    <button class="ui teal button setas" onclick="setdefault('{{flavor['id']}}','{{flavor['vcpus']}}','{{flavor['ram']}}','{{flavor['disk']}}')">Set as Default</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        </br>
        <div class="row">
            <h2>Manage Network</h2>
            <table class="ui teal fixed table center aligned">
                <thead>
                    <th>Label</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Network</td>
                        <td>
                            <button class="ui teal button network">Set as default</button>
                            <i class="teal checkmark icon"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Set default flavor
    </div>
    <div class="content">
        <form id="flavor-default" class="ui form" method="POST">
            <input type="hidden" id="modal-id" name="flavor-id" value="">
            <input type="hidden" id="modal-vcpu" name="flavor-vcpu" value="">
            <input type="hidden" id="modal-ram" name="flavor-ram" value="">
            <input type="hidden" id="modal-disk" name="flavor-disk" value="">
            <input type="hidden" id="modal-action" name="action" value="">
            <div class="field">
                <label>Name Flavor Alias</label>
                <input type="text" name="flavor-alias" placeholder="Nama Alias">
            </div>
        </form>
    </div>
    <div class="actions">
            <button class="ui red cancel button" oncliick="process('cancel')">
                Cancel
            </button>
            <button class="ui teal ok right labeled icon button" onclick="process('create')">
                Create
                <i class="checkmark icon"></i>
            </button>
    </div>
</div>

<script>
    $('.menu.computes .item')
        .tab()
        ;

    $('.ui.modal')
        .modal('attach events', '.ui.teal.button.setas', 'show')
        .modal('setting', 'transition', 'fade up');

    var cpu_pie = document.getElementById("cpu_chart").getContext("2d");
    var cpu_chart = new Chart(cpu_pie, {
        type: 'pie',
        data: {
            labels: [
                "CPU Usage",
                "CPU Usage"
            ],
            datasets: [
                {
                    label: "%",
                    data: [2, 6],
                    backgroundColor: [
                        "#00B5AD",
                        "#A0A0A0"
                    ]
                }
            ]
        },
        options: {
            animation: {
                animateScale: true
            },
            responsive: true
        }
    });

    var ram_pie = document.getElementById("ram_chart").getContext("2d");
    var ram_chart = new Chart(ram_pie, {
        type: 'pie',
        data: {
            labels: [
                "RAM Used Space",
                "RAM Free Space"
            ],
            datasets: [
                {
                    label: 'GB',
                    data: [12, 20],
                    backgroundColor: [
                        "#00B5AD",
                        "#A0A0A0"
                    ]
                }
            ]
        },
        options: {
            animation: {
                animateScale: true
            },
            responsive: true
        }
    });

    var storage_pie = document.getElementById("storage_chart").getContext("2d");
    var storage_chart = new Chart(storage_pie, {
        type: 'pie',
        data: {
            labels: [
                "storage Used Space",
                "storage Free Space"
            ],
            datasets: [
                {
                    label: 'GB',
                    data: [20, 12],
                    backgroundColor: [
                        "#00B5AD",
                        "#A0A0A0"
                    ]
                }
            ]
        },
        options: {
            animation: {
                animateScale: true
            },
            responsive: true
        }
    });

    function setdefault(id,vcpu,ram,disk){
        document.getElementById("modal-id").value= id;
        document.getElementById("modal-vcpu").value= vcpu;
        document.getElementById("modal-ram").value= ram;
        document.getElementById("modal-disk").value= disk;
    }
    function process(status){
        if (status == "create"){
            document.getElementById('modal-action').value = "Create"
        }
        var form = document.getElementById('flavor-default');
        form.submit();
    }
    function deactivate(id){
        document.getElementById("action-deactivate").value = "Deactivate"
        document.getElementById("flav-id").value = id;
        var form = document.getElementById("form-deactivate-"+id);
        form.submit();

    }
</script>

{% endblock %}
