{% extends "admin/admin-page.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Manage VM</h3>
            <div class="ui vertical stripe center aligned container">
                <h2>List VM</h2>
                <table class="ui teal table center aligned">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Operating System</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if allserver %}
                        {% for server in allserver %}
                        <tr>
                            <td>{{server.name}}</td>
                            <td>{{server.image_name}}</td>
                            <td>{{server.user_id}}</td>
                            {% if server.status == 0 %}
                            <td>Stopping</td>
                            {% elif server.status == 1 %}
                            <td>Running</td>
                            {% elif server.status == 2 %}
                            <td>Error</td>
                            {% endif %}
                            <td>
                                <button class="ui yellow button">Status</button>
                                <div class="ui popup top left transition hidden">
                                    <div class="ui two column divided center aligned grid">
                                        <div class="column">
                                            <button class="ui button">Run</button>
                                        </div>
                                        <div class="column">
                                            <button class="ui button">Stop</button>
                                        </div>
                                    </div>
                                </div>
                                <button class="ui green button">Detail</button>
                                <button class="ui red button">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('.ui.yellow.button').popup({
        popup: $('.ui.fluid.popup'),
        on: 'click'
    });

</script>

{% endblock %}
