<!DOCTYPE Html>
<html ng-app="CloudDDS">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Cloud Computing - DDS Telkom</title>
    <link rel="icon" href="../assets/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../assets/js/jquery-ui.min.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/semantic.min.js"></script>
    <script src="../assets/js/sidebar.js"></script>
    <script src="../assets/js/angular/angular.min.js"></script>
    <script src="../assets/js/angular/app.js"></script>
    <script src="../assets/js/angular/AppControllers.js"></script>
    <script src="../assets/js/angular/CreateControllers.js"></script>

</head> 
<!-- <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Login Cloud - DDS Telkom</title>
    <link rel="icon" href="../assets/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.css" />
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/semantic.min.js"></script>
</head> -->

<body>
    <!-- Sidebar Menu -->
    <div class="ui vertical teal inverted sidebar borderless menu">
        <a class="item" href="#">
            <img class="ui small image" src="../assets/img/logo-cloud-dds.png">
        </a>
        <a class="item" href="{{ url_for('layanan">LAYANAN</a>
        <a class="item" href="{{ url_for('bantuan">BANTUAN</a>
        <a class="item" href="{{ url_for('login">LOGIN</a>
        <a class="item" href="{{ url_for('registration">SIGNUP</a>
    </div>

    <!-- Following Menu -->
    <div class="ui large top borderless fixed hidden menu">
        <div class="ui container">
            <a class="item" href="#">
                <img class="ui small image" src="../assets/img/logo-cloud-dds.png">
            </a>
            <div class="right menu">
                <a class="item" href="{{ url_for('layanan">LAYANAN</a>
                <a class="item" href="{{ url_for('bantuan">BANTUAN</a>
                <div class="item">
                    <a class="ui teal button" href="{{ url_for('login">LOGIN</a>
                </div>
                <div class="item">
                    <a class="ui teal button" href="{{ url_for('registration">SIGNUP</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
        <!-- Menu -->
        <div class="ui teal inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <div class="left item">
                        <a class="item" href="/">
                            <img class="ui small image" src="../assets/img/logo-cloud-dds.png">
                        </a>
                    </div>
                    <div class="right item">
                        <a class="item" href="{{ url_for('layanan">LAYANAN</a>
                        <a class="item" href="{{ url_for('bantuan">BANTUAN</a>
                        <a class="ui inverted yellow basic button" href="{{ url_for('login">LOGIN</a>
                        <a class="ui yellow button" href="{{ url_for('registration">SIGNUP</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dynamic Content -->
        {% block content %} {% endblock %}

        <!-- Vendor -->
        <div class="ui vertical vendor center aligned segment" ng-controller="VendormainController as vmCtrl">
            <div class="ui text container">
                <div class="ui small images">
                    <img class="ui image logo" ng-repeat="vendor in vmCtrl.mVendor" ng-src="{{ '{{ vendor.logo_vendor }}' }}">
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">LAYANAN</h4>
                        <div class="ui inverted link list">
                            <a href="/layanan" class="item">Infrastruktur</a>
                            <a href="/layanan" class="item">Apps</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">RUJUKAN</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Basis Pengetahuan</a>
                            <a href="/bantuan" class="item">FAQ</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">PT. Telekomunikasi Indonesia, Tbk</h4>
                        <p>DDS Telkom.</br> Jl. Gegerkalong Hilir No. 47. Bandung 40152.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
