{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Computes</h3>
        </div>
        </br>
        <div class="row">
            <h2>Instance</h2>
            <div class="ui segment">
                <div class="ui vertical stripe center aligned container">
                    <h2>List Instances</h2>
                    <table class="ui teal table">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Status</th>
                                <th>Uptime</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if serverreq or serverins %}
                            {% for server in serverreq %}
                            <tr>
                                <td>{{ server.name }}</td>
                                {% if server.status == 0%}
                                <td>Menunggu Persetujuan Admin</td>
                                {% elif server.status == 1 %}
                                <td>Aktif</td>
                                {% elif server.status == 2 %}
                                <td>Ditolak</td>
                                {% endif %}
                                <td>dd/mm/yyyy</td>
                                {% if server.instance_id %}
                                <td><a class="ui teal button" href="/manage/instance/{{ server.instance_id }}">Manage Instance</a></td>

                                {% else %}
                                <td><a class="ui teal button disabled" disabled href="/manage/instance">Manage Instance</a></td>

                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% for server in serverins %}
                            <tr>
                                <td>{{ server.name }}</td>
                                {% if server.status == 0%}
                                <td>Menunggu Persetujuan Admin</td>
                                {% elif server.status == 1 %}
                                <td>Aktif</td>
                                {% elif server.status == 2 %}
                                <td>Ditolak</td>
                                {% endif %}
                                <td>dd/mm/yyyy</td>
                                {% if server.instance_id %}
                                <td><a class="ui teal button" href="/manage/instance/{{ server.instance_id }}">Manage Instance</a></td>

                                {% else %}
                                <td><a class="ui teal button disabled" disabled href="/manage/instance">Manage Instance</a></td>

                                {% endif %}
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td colspan="4" class="ui center aligned">
                                    <p>Looks like you don't have any instances</p>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4">
                                    <a class="ui right floated teal button" href="/manage/create">Create Instance</a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
