<!DOCTYPE Html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Forgot Password Cloud - DDS Telkom</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/semantic.min.js"></script>

    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            email: {
                                identifier: 'email',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Masukkan alamat email'
                                    }
                                ]
                            }
                        }
                    })
                    ;
            })
            ;
    </script>

</head>

<body class="login-signup">
    <a href="/">
        <img class="ui medium image logo" id="logo" src="static/img/logo-cloud-dds.png"></a>

    <div class="ui middle aligned center aligned grid">
        <div class="login-signup column">
            {% if errormsg %}
            <div class="ui negative message">{{errormsg}}</div>
            {% endif %}
            <form class="ui large form" method="POST">
                <div class="ui segment">
                    <h1 class="ui text header logo">
                        Reset Password
                    </h1>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="at icon"></i>
                                <input type="text" name="text" readonly value="telkom.co.id">
                                <input type="hidden" name="email_domain" value="@telkom.co.id">
                            </div>
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button" type="submit">Reset</button>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                <p class="ui header">Sudah punya akun ? <a href="/login">Log In</a></p>
            </div>
        </div>
    </div>

    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="mail icon"></i>Link Verifikasi untuk reset password anda telah terkirim
            <p>Cek email anda untuk melakukan reset password.</p>
        </div>
    </div>

    <script>
        $('.ui.submit.button').on('click', function () {
            $('.ui.basic.modal')
                .modal('show')
                ;
        });
    </script>
</body>

</html>
