<!DOCTYPE Html>
<html ng-app="CloudDDS">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Cloud Computing - DDS Telkom</title>
    <link rel="icon" href="../assets/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="../assets/js/jquery-ui.min.css" />
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/semantic.min.js"></script>
    <script src="../assets/js/sidebar.js"></script>
    <script src="../assets/js/angular/angular.min.js"></script>
    <script src="../assets/js/angular/app.js"></script>
    <script src="../assets/js/angular/AppControllers.js"></script>
    <script src="../assets/js/angular/CreateControllers.js"></script>
    <script src="../assets/js/moment.js"></script>
    <script src="../assets/js/Chart.min.js"></script>

</head>

<body>
    <!-- Sidebar Menu -->
    <div class="ui vertical teal inverted sidebar borderless menu">
        <a class="item" href="/manage">
            <img class="ui small image" src="../assets/img/logo-cloud-dds.png">
        </a>
        <a class="item" href="/manage/computes">Compute</a>
        <a class="item" href="/manage/help">Help</a>
        <a><img class="ui avatar image" src="../static/img/avatar/tom.jpg">
            span>{{users.name}}</span>
        </a>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
        <!-- Menu -->
        <div class="ui teal inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <div class="left item">
                        <a class="item" href="/manage">
                            <img class="ui small image" src="../assets/img/logo-cloud-dds.png">
                        </a>
                    </div>
                    <div class="right item">
                        <a class="item" href="/manage/computes">COMPUTES</a>
                        <a class="item" href="/manage/help">HELP</a>
                        <div class="ui top right pointing dropdown" style="margin-left: 1.5em;">
                            <img class="ui avatar image" src="../assets/img/avatar/user.png">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item">
                                    <img class="ui avatar image" src="../assets/img/avatar/user.png">
                                    <span>{{users.name}}</span>
                                </a>
                                <div class="divider"></div>
                                <a class="item" href="/manage/settings">Settings</a>
                                <a class="item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.ui.dropdown')
            .dropdown();
    </script>

</body>

</html>
