<!DOCTYPE Html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Login Cloud - DDS Telkom</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/semantic.min.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css') }}" />
    <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/semantic.min.js') }}"></script>

    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            password: {
                                identifier: 'new_password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Masukkan password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Password minimal 6 karakter'
                                    }
                                ]
                            },
                            match: {
                                identifier: 'confirm_new_password',
                                rules: [
                                    {
                                        type: 'match[new_password]',
                                        prompt: 'Password tidak sama'
                                    }
                                ]
                            }
                        }
                    })
                    ;
            })
            ;
    </script>

</head>

<body class="login-signup">
    <a href="/">
        <img class="ui medium image logo" id="logo" src="{{url_for('static', filename='img/logo-cloud-dds.png') }}"></a>

    <div class="ui middle aligned center aligned grid">
        <div class="login-signup column">
            {% if errormsg %}
            <div class="ui negative message">{{errormsg}}</div>
            {% endif %}
            <form class="ui large form" method="POST">
                <input type="text" name="tokens" hidden value="{{reset.code}}">
                <input type="text" name="email" hidden value="{{reset.email_user}}">
                <div class="ui segment">
                    <h1 class="ui text header logo">
                        Reset Password
                    </h1>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="new_password" placeholder="New Password">

                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="confirm_new_password" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button" type="submit">Reset</button>
                </div>

                <div class="ui error message"></div>

            </form>

        </div>
    </div>
</body>

</html>
