{% extends "base.html" %} {% block content %}

<!-- Bantuan Banner -->
<div class="ui teal inverted vertical segment" id="banner-other">
    <div class="ui middle aligned stackable grid container">
        <h2 class="ui left aligned inverted header">Bantuan</h2>
    </div>
</div>

<!-- Bantuan Content -->
<div class="ui vertical stripe bantuan segment" ng-controller="InfobantuanController as ibCtrl">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="ui center aligned container">
                <img class="ui centered tiny image" src="static/img/question.png">
                <h3>Frequently Asked Question</h3>
            </div>
        </div>
        <div class="row">
            <div class="ui stackable grid segment">
                <div class="ui container faq" ng-repeat="info in ibCtrl.bInfo">
                    <div class="article">
                        <div class="ui header">
                            {{ '{{ info.title }}' }}
                        </div>
                        <img ng-class="'ui image ' + info.size" ng-src="{{ '{{ info.steps }}'}}">
                        <p>{{ '{{ info.content }}' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}