{% extends "base.html" %} {% block content %}

<!-- Banner -->
<div class="ui teal inverted vertical segment" id="banner">
    <div class="ui middle aligned stackable grid container">
        <div class="eight wide column">
            <div class="ui center aligned container">
                <h1 class="ui center aligned inverted header">Layanan IaaS <br>( Infrastructure as a Service )</h1>
                <h1 class="ui center aligned inverted header">Telkom Divisi Digital Service</h1>
                </br>
                <a class="ui large yellow inverted button" href="/layanan">Lihat Layanan</a>
            </div>
        </div>
        <div class="eight wide column">
            <img class="ui centered huge image" src="{{url_for('static', filename='img/animated-dds-logo.gif') }} ">
        </div>
    </div>
</div>


<!-- Info Main Content -->
<div class="ui vertical stripe info segment" ng-controller="InfomainController as imCtrl">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <div class="ui three column center aligned stackable grid">
                <div class="column" ng-repeat="info in imCtrl.mInfo">
                    <div class="ui header">
                        <img class="ui tiny image" ng-src="{{ '{{ info.image }}' }}">
                    </div>
                    <h3 class="ui header">{{ '{{ info.title }}' }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flavor Main Content -->
<div class="ui vertical stripe flavor segment">
    <div class="ui text container center aligned">
        <h3 class="ui header">Aktifasi Mudah dan Cepat</h3>
        <p>Ragam pilihan sesuai kebutuhan.</p>
    </div>

    <div class="ui container plans" ng-controller="FlavormainController as fmCtrl">
        <div class="ui four column grid">
            <div class="column" ng-repeat="flav in fmCtrl.mFlavor">
                <div class="ui raised segment">
                    <a ng-class="'ui ribbon label ' + flav.color">{{ '{{ flav.type }}' }}</a>
                    <div class="ui list">
                        <div class="item">{{ '{{ flav.vcpu }}' }} Core Processor</div>
                        <div class="item">{{ '{{ flav.ram }}' }} GB Memori</div>
                        <div class="item">{{ '{{ flav.disk }}' }} GB Disk</div>
                        </br>
                        <div class="item">{{ '{{ flav.detail }}' }}</div>
                        </br>
                    </div>
                    <div class="ui right aligned container">
                        <a class="ui teal button" href="\layanan">Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Pesan Main Content -->
<div class="ui vertical stripe pesan segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row pesan">
            <div class="seven wide column">
                <h2 class="ui header">Langganan Sekarang</h2>
                <h3 class="ui header">Langsung Nikmati Layanan Kami</h3>
                </br>
                <a class="ui teal large button" href="/layanan">Pesan Sekarang</a>
            </div>
            <div class="five wide right floated column">
                <img src="static/img/database.png" class="ui small rounded image">
            </div>
        </div>
    </div>
</div>

{% endblock %}
