{% extends "base.html" %} {% block content %}

<!-- Banner Layanan -->
<div class="ui teal inverted vertical segment" id="banner-other">
    <div class="ui middle aligned stackable grid container">
        <h2 class="ui left aligned inverted header">Layanan</h2>
    </div>
</div>

<!-- Layanan Content -->
<div class="ui vertical stripe infra segment" ng-controller="FlavorlayananController as flCtrl">
    <div class="ui stackable grid container">
        <div class="column">
            <h3 class="ui header">Infrastruktur</h3>
            <p>Didukung arsitektur terdistribusi dengan menggunakan teknologi terkini, membuat layanan infrastruktur CloudDDS
                menjadi pilihan tepat bagi Anda yang membutuhkan sumber daya komputasi untuk membangun aplikasi, menyimpan
                berkas, atau mempersiapkan arsitektur sistem sesuai kebutuhan.</p>
        </div>
    </div>

    <div class="ui stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui teal basic button">Virtual Machine</div>
            </div>
        </div>
        <div class="row">
            <div class="ui one column stackable center aligned page grid">
                <div class="column twelve wide">
                    <div class="ui padded segment">
                        <h1>Spesifikasi VM</h1>
                        <div class="ui center aligned container">
                            <table class="ui very basic celled table center aligned">
                                <thead>
                                    <tr>
                                        <th>vCPU</th>
                                        <th>RAM</th>
                                        <th>Storage</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ '{{ flCtrl.lFlavor[selectedIndex].vcpu }}' }}</td>
                                        <td>{{ '{{ flCtrl.lFlavor[selectedIndex].ram }}' }} GB</td>
                                        <td>{{ '{{ flCtrl.lFlavor[selectedIndex].disk }}' }} GB</td>
                                        <td>{{ '{{ flCtrl.lFlavor[selectedIndex].detail }}' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </br>
                            <div class="ui horizontal list">
                                <div class="item" ng-repeat="fl in flCtrl.lFlavor">
                                    <a class="ui massive button" ng-click="select($index)" ng-class="{{ '{ yellow: $index === selectedIndex }'}}">{{ '{{ fl.type }}' }}</a>
                                </div>
                            </div>
                            <a class="ui fluid teal large berlangganan button" href="/registration" style="margin-top: 2em;">Berlangganan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe apps segment" ng-controller="AppslayananController as alCtrl">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header">Apps</h3>
                <p>Didukung arsitektur terdistribusi dengan menggunakan teknologi terkini, membuat layanan infrastruktur CloudDDS
                    menjadi pilihan tepat bagi Anda yang membutuhkan sumber daya komputasi untuk membangun aplikasi, menyimpan
                    berkas, atau mempersiapkan arsitektur sistem sesuai kebutuhan.</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui teal basic button">One Click Apps</div>
            </div>
        </div>
        <div class="row">
            <div class="ui four column grid">
                <div class="column" ng-repeat="appl in alCtrl.lApps">
                    <div class="ui center aligned segment">
                        <i class="linux icon"></i></br>
                        <span>{{ '{{ appl.nama }}' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}