<!DOCTYPE Html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Cloud Computing - DDS Telkom</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/semantic.min.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css') }}" />
    <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/semantic.min.js') }}"></script>

</head>

<body class="error-page">
    <a href="{{url_for('index')}}">
        <img class="ui large image logo" id="logo" src="{{url_for('static', filename='img/logo-cloud-dds.png') }}"></a>
    <div class="ui middle aligned center aligned grid">
        <div class="error column">
            <div class="ui segment">
                <div class="ui text header logo">
                    <h1>404</h1>
                    <p>Halaman Tidak Ditemukan.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
